.navigation{ 
    position: absolute;
    font-family: 'Nerko One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;   
}
.home{
    position: absolute;
width: 54px;
height: 29px;
left: 438px;
top: 56px;}
.about{
    position: absolute;
width: 54px;
height: 29px;
left: 561px;
top: 56px;}
.exchange{
    position: absolute;
    width: 93px;
    height: 29px;
    left: 684px;
    top: 56px;}
.news{
    position: absolute;
width: 54px;
height: 29px;
left: 846px;
top: 56px;}
.faq{
    position: absolute;
width: 35px;
height: 29px;
left: 969px;
top: 56px;
}
a{
    text-decoration: none;
    color: #000000;
}
a:hover{
    color: #FA4D15;}